<div class="panel panel-default nav-tabs-horizontal padding-0  margin-bottom-30">
  <div class="panel-heading font-weight-600">
    <ul class="nav nav-tabs nav-tabs-line  " data-plugin="nav-tabs" role="tablist">

      <li class=""><a data-toggle="tab" href="#Sensors" role="tab" class=" ">Sensors</a></li>
    </ul>
  </div>

  <div class="panel-body padding-0">
    <div class="tab-content">

      <div class="tab-pane active" id="Sensors" role="tabpanel">
        <div class="panel-body padding-0">
          <div class="bg-green-100 padding-10">
            <div class="padding-5  bg-white  margin-bottom-0 ">
              <div class="table-responsive vscroll" style="height:252px;">
                <table class="table  table-condensed  no-border  margin-bottom-0 font-size-16">
                  <tbody>
                  <tr>
                    <td width="">
                      <img src="/assets/images/iop/icon-sensor-current.png" alt="..." width="20"
                           class="margin-right-10">
                      <b> Current </b>
                    </td>
                    <td class=""><span class="label label-default  margin-right-10  ">  <i
                      class="ion-close"></i>     </span> Disabled
                    </td>

                  </tr>
                  <tr>
                    <td width="">
                      <img src="/assets/images/iop/icon-sensor-voltage.png" alt="..." width="20"
                           class="margin-right-10">
                      <b> Voltage </b>
                    </td>
                    <td class=""><span class="label label-default  margin-right-10">  <i
                      class="ion-close"></i>     </span> Disabled
                    </td>

                  </tr>
                  <tr>
                    <td width="">
                      <img src="/assets/images/iop/icon-sensor-temperature.png" alt="..." width="20"
                           class="margin-right-10">
                      <b> Temperature </b>
                    </td>
                    <td class=""><span class="label label-warning  margin-right-10">  <i
                      class="ion-checkmark"></i>     </span> Enabled
                    </td>

                  </tr>
                  <tr>
                    <td width="">
                      <img src="/assets/images/iop/icon-sensor-diplevel.png" alt="..." width="20"
                           class="margin-right-10">
                      <b> Water Level </b>
                    </td>
                    <td class=""><span class="label label-default  margin-right-10">  <i
                      class="ion-close"></i>     </span> Disabled
                    </td>

                  </tr>


                  </tbody>
                </table>
              </div>
            </div>


          </div>


        </div>

      </div>


    </div>
  </div>
</div>
