<div class="login-bg">
  <div style="background-image: url(../../../assets/images/bg-login.jpg);  background-size:cover; height:100%; " class="pic"></div>
  <div class="vertical-align text-center">
    <div class="page-content vertical-align-middle white form-box" style="width:300px; margin:auto;">
      <div class="brand margin-bottom-50" style="margin-bottom:40px;">
        <img class="brand-img" src="../../../assets/images/icon_unauthorize.png" alt="..." height="100">
      </div>

    </div>
  </div>
  <div class="text-center"> <h5 class="text-center" style="color:#eee">You are unauthorized to view this page. Please contact Administrator.<br/></h5>
    <a class="btn btn-sm white no-border   btn-primary" (click)="logout()">Logout</a>

  </div>
  <!--<footer class="page-copyright" style="margin-top:20px;">-->
  <!--<p>© 2018 Hypernet</p>-->
  <!--</footer>-->

</div>
