<ngx-loading-bar
  color="#fff"
  [includeSpinner]="false"
  [includeBar]="true">
</ngx-loading-bar>
<div class="login-bg">
  <div style="background-image: url(../../../assets/images/bg-login.jpg);  background-size:cover; height:100%; " class="pic"></div>
  <div class="vertical-align text-center">
    <div class="page-content vertical-align-middle white form-box" style="width:300px; margin:auto;">
      <div class="brand margin-bottom-50" style="margin-bottom:40px;">
        <img class="brand-img" src="../../../assets/images/hypernet-logo2.png" alt="..." height="200">

      </div>

      <form id="formID" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset [hidden]="!isValidToken">
          <div class="form-group">
            <label class="sr-only">Password</label>
            <!--<label for="confirmPassword">New Password</label>-->
            <div class="input-group">
              <input  [type]="showPassword? 'text' : 'password'"   id="password" class="form-control" [formGroup]="form" formControlName="password" placeholder="Password">
              <span class="input-group-btn"><button  (click)="showPassword = !showPassword" class="btn btn-primary" type="button"><i  [class]="showPassword? 'fa fa-eye': 'fa fa-eye-slash'"></i></button></span>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="confirmPassword">Confirm Password</label>
            <div class="input-group">
              <input
                placeholder="Retype Password"
                [type]="showConfirmPassword? 'text' : 'password'"
                class="form-control"
                id="confirmPassword"
                formControlName="confirmPassword"  [formGroup]="form">
              <span class="input-group-btn"><button (click)="showConfirmPassword = !showConfirmPassword" class="btn btn-primary" type="button"><i  [class]="showConfirmPassword? 'fa fa-eye': 'fa fa-eye-slash'"></i></button></span>

            </div>
          </div>

          <button type="submit" form="formID" class="btn btn-warning  btn-block" [disabled]="form.invalid">Save changes</button>
          <div class="text-danger" *ngIf="form.getError('mismatch')">Password does not match</div>
        </fieldset>
      </form>

      <footer class="page-copyright" style="margin-top:20px;">
        <p>© {{year}} Hypernet</p>
      </footer>
    </div>
  </div>
</div>
