<div class="login-bg">
  <div style="background-image: url(../../../assets/images/bg-login.jpg);  background-size:cover; height:100%; " class="pic"></div>
  <div class="vertical-align text-center">
    <div class="page-content vertical-align-middle white form-box" style="width:300px; margin:auto;">
      <div class="brand margin-bottom-50" style="margin-bottom:40px;">
        <img class="brand-img" src="assets/images/maintenance.png" alt="..." height="200">
      </div>

    </div>
  </div>
  <div> <h3 class="text-center" style="color:#eee">This site will be under maintenance from <br/>
    <b>Dec 6, 2018 03:00 (UTC)</b> <br/>
    <b>to</b> <br/>
    <b>Dec 8, 2018 03:00 (UTC)</b>  </h3>
  </div>
  <div class="margin-top-50"> <h4 class="text-center" style="color:#eee">For further assistance, please contact <br/><br/> +971507381747  <br/> +923205080039  </h4></div>
  <br/>
  <div> <h5 class="text-center" style="color:#eee">We are sorry for any inconvenience caused </h5></div>
  <!--<footer class="page-copyright" style="margin-top:20px;">-->
  <!--<p>© 2018 Hypernet</p>-->
  <!--</footer>-->

</div>
