<button type="button" class="btn-info btn font-size-12 margin-left-5 margin-right-10" [ngClass]="btnSize"
  (click)="changeStatus();dt.exportCSV();changeStatusBack()" style="float:left">
  <i class="fa fa-file-o margin-right-5"></i>Export as CSV
</button>

<p-table [hidden]="true" #dt [columns]="cols" [value]="rows" [exportFilename]="fileName">
  <p-column *ngFor="let col of cols">
    <ng-template let-row="rowData" pTemplate="body">
      {{row.inspectionDate | date:'MM/dd/yyyy'}}
    </ng-template>
  </p-column>
</p-table>