<div class="site-menubar">
  <div class="site-menubar-body">

    <ul class="site-menu">
      <li class="site-menu-category">Navigation</li>
      <li class="site-menu-item  " [ngClass]="{'disabled':productionLine}">
        <a [routerLink]="'/iop/'">
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon_dashboard.png" alt="img" class="blue-icon" width="30"> </i>
          <span class="site-menu-title">Dashboard</span>
        </a>
      </li>
      <li class="site-menu-item   " [ngClass]="{'disabled':productionLine}">
        <a [routerLink]="'waterheaters'">
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-water-heater.png" alt="img" class="blue-icon"
              width="30"> </i>
          <span class="site-menu-title">Water Heater</span>
        </a>
      </li>
      <!-- <li class="site-menu-item" [ngClass]="{'disabled':productionLine}">
        <a [routerLink]="'users'">
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-water-heater.png" alt="img"
              width="30"> </i>
          <span class="site-menu-title">User management</span>
        </a>
      </li> -->
      <li class="site-menu-item disabled  ">
        <a>
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-freezer.png" alt="img" class="blue-icon" width="30">
          </i>
          <span class="site-menu-title">Deep Freezer</span>
        </a>
      </li>
      <li class="site-menu-item disabled  ">
        <a>
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-air-conditioner.png" alt="img" class="blue-icon"
              width="30"> </i>
          <span class="site-menu-title">Air conditioner</span>
        </a>
      </li>
      <li class="site-menu-item disabled  ">
        <a>
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-fridge.png" alt="img" class="blue-icon" width="30">
          </i>
          <span class="site-menu-title">Refrigerator</span>
        </a>
      </li>

      <li class="site-menu-item disabled  ">
        <a>
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-washing-machine.png" alt="img" class="blue-icon"
              width="30"> </i>
          <span class="site-menu-title">Washing Machine</span>
        </a>
      </li>

      <li class="site-menu-item disabled">
        <a>
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-water-dispenser.png" alt="img" class="blue-icon"
              width="30"> </i>
          <span class="site-menu-title">Water Dispenser</span>
        </a>
      </li>

      <li class="site-menu-item">
        <a [routerLink]="'qr-generator'">
          <i class="site-menu-icon icon "> <img src="assets/images/iop/icon-leftmenu-qrcode.png" alt="img" class="blue-icon" width="30">
          </i>
          <span class="site-menu-title">Generate QR code</span>
        </a>
      </li>





    </ul>
  </div>
  <div class="site-menubar-footer">
    <a href=""> <img src="../assets/images/logo-hypernym.png" alt="img" height="50"></a>
  </div>

</div>
