
<div class="navbar-form">
  <p-autoComplete [(ngModel)]="searchItem"
                  styleClass="input-search"
                  inputStyleClass="form-control padding-10 primeng-font-style "
                  (ngModelChange)="onOptionSelected($event)"
                  [suggestions]="items"
                  [emptyMessage]="'No Data Found'"
                  (completeMethod)="completedTyping($event)"
                  field="title"
                  class="bootstrap"

                  [size]="30"
                  dropdown="true"
                  dropdownMode="current"
                  placeholder="Search"
                  [minLength]="1">
    <ng-template let-option pTemplate="item">
      <div class="media ui-helper-clearfix">
        <div class="media-left">
          <img src="assets/images/search/{{option.entity_type}}.png" class="media-object" style="width:27px;display:inline-block;">
        </div>
        <div class="media-body">
          <div>{{option.title}}</div>
        </div>
      </div>
    </ng-template>
  </p-autoComplete>
</div>


