

.bg-iol-800 { background-color: #0083b2 !important; }
.bg-iol-700 { background-color: #0083b2 !important; }
.bg-iol-600 { background-color: #0083b2 !important; }
.bg-iol-500 { background-color: #0083b2 !important; }
.bg-iol-400 { background-color: #0083b2 !important; }
.bg-iol-300 { background-color: #0083b2 !important; }
.bg-iol-200 { background-color: #0083b2 !important; }
.bg-iol-100 { background-color: #0083b2 !important; }


.iol-100 { color: #0083b2 !important; }
.iol-200 { color: #0083b2 !important; }
.iol-300 { color: #0083b2 !important; }
.iol-400 { color: #0083b2 !important; }
.iol-500 { color: #0083b2 !important; }

.iol-600 { color: #0083b2 !important; }
.iol-700 { color: #0083b2 !important; }
.iol-800 { color: #0083b2 !important; }


.site-menu > .site-menu-item.active > a:before { border-color: #0083b2 !important; }
.site-menu > .site-menu-item.active > a:after { border-right-color: #0083b2 !important; }
